{%extends 'base.html' %}
<!-- {% import 'macros.html' as macro %} -->
{% block content %}
    <!-- <div class="container">
        <h1>ARTICLES</h1>
        <hr>
        <div class="row">
            <ul>
                {{macro.displayArticles(articles)}}
            </ul>
        </div>
    </div> -->

{% for item in source%}
<div class="container">
    <hr>
    <div class="col-md-6">
        <li>{{item.title}}</li>
<img class="img-responsive" src="{{item.urlToImage}}">

<a href="{{item.url}}" target="_blank">{{item.url}}</a>
    </div>

</div>


{% endfor %}

    {% endblock %}